@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Miltonian+Tattoo&display=swap');
body{
    margin: 0;
}
html {
	background-size: cover;
	background: url("https://st3.depositphotos.com/1017228/19282/i/1600/depositphotos_192820048-stock-photo-portrait-of-a-happy-young.jpg") no-repeat center center fixed;
	background-blend-mode: darken;
	transition: 3s;
}
html * { transition: none; }
  #nin1{
    margin: 0%;
    color: white;
    background-color: rgba(70, 0, 0, 0.582);
    height: 90px;
    width: 100%;    
    }
#gif{
    padding: 20px 20px 20px 20px;
    }
h1{
 font-family: 'Miltonian Tattoo', cursive;
 font-size: 20px;
}
.header {
    overflow: auto;
    padding: 1px 1px;
    background-color: rgba(177, 0, 0, 0.137);
    margin-bottom: 30%,
    }
.header a {
    text-decoration: none;
    font-family: 'Miltonian Tattoo', cursive; 
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    font-size: 18px; 
    
    }
    
.header a.logo {
    float: left;
    font-size: 15px;
    font-weight: bold;
    }inherit
.header a:hover {
        background-color: #ddd;
        text-decoration: none;
        color: black;
    }
    
.header a.active {
    background-color: rgba(122, 2, 2, 0.651);
    color: white;
    }
    
.header-right {
    float: right;
    }
    #iki{
    float: left;
    }
@media screen and (max-width: 500px) {
        .header a {
        float: none;
        display: block;
        text-align: left;
        }
.header-right {
        float: none;
        }
    }
.login-box {
            position: fixed;
            width: 400px;
            height: 500px;
            background: rgb(58, 56, 56);
            color: #fff;
            left: 70%;
            top: 60%;
            box-sizing: border-box;
            padding-bottom: 90px;
            padding-left: 80px;
            transform: translate(-50%, -50%);
            opacity: 0.9;
            background-position: left;
            border-radius: 8px;
        }
        .login-box input {
            width: 100px;
            margin-bottom: 20;
        }
        
        .login-box input[type="text"],
        input[type="password"] {
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            height: 60px;
            color: #fff;
            font-size: 16px;
        }
        
        .login-box button[type="submit"] {
            border: 0;
            outline: 0;
            height: 40px;
            background: rgb(199, 57, 0);
            font-size: 18px;
            border-radius: 10px;
        
        
        }
        
        .login-box button[type="submit"]:hover {
            cursor: pointer;
            background: #ffc107;
            color: #000;
        }
        
        .login-box a {
            text-decoration: none;
            font-size: 12px;
            line-height: 20px;
            color: rgb(247, 247, 247);
        }
        
        .login-box a:hover {
            color: #9b7506;
        }
/**
 * Demo Styles
 */

 html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

 footer{
    
   position: absolute;
    text-align: center;
  }
/* chatbox */
#chat{
    display:block;
    /* display:none; */
    border:5px solid rgb(168, 155, 155);
    left: 100;
    top: 90;
    bottom: 30;
    border-radius: 5px;
    background-color: whitesmoke;
    min-height: auto;
    max-height: 40%;
    overflow-y: scroll;
    /* overflow-x: hidden; */
    padding-top: 40%;
    position: absolute;
  }
  #more{
    display: none;
  }
.info{
    margin-bottom: 20%;
    line-height: normal; 
    display:block;
    border:5px solid rgb(168, 155, 155);
    left: 0;
    border-radius: 5px;
    background-color: whitesmoke;
    width:60%;
    height:70%;
  }
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
  .button {background-color: forestgreen;} 
  .button2 {background-color: royalblue;} 
  .button2:hover {
    background-color: rgb(226, 21, 209);
   }
  .button3 {background-color: orange;} 
  .button4 {background-color: red;}
  .button4:hover {
    background-color: rgb(226, 21, 209);
   }
  .button5 {background-color: royalblue;}
  /* chatbox */
